<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fgc.mapper.MaterialSaleVOMapper" >
  <resultMap id="BaseResultMap" type="com.fgc.pojo.MaterialSaleVO" >
    <id column="PKMATERIALSALE" property="pkmaterialsale" jdbcType="VARCHAR" />
    <result column="VDEF1" property="vdef1" jdbcType="VARCHAR" />
    <result column="PKMATERIAL" property="pkmaterial" jdbcType="VARCHAR" />
    <result column="VDEF2" property="vdef2" jdbcType="VARCHAR" />
    <result column="VDEF3" property="vdef3" jdbcType="VARCHAR" />
    <result column="VDEF4" property="vdef4" jdbcType="VARCHAR" />
    <result column="VDEF5" property="vdef5" jdbcType="VARCHAR" />
    <result column="VDEF6" property="vdef6" jdbcType="VARCHAR" />
    <result column="VDEF7" property="vdef7" jdbcType="VARCHAR" />
    <result column="VDEF8" property="vdef8" jdbcType="VARCHAR" />
    <result column="VDEF9" property="vdef9" jdbcType="VARCHAR" />
    <result column="VDEF10" property="vdef10" jdbcType="VARCHAR" />
    <result column="DR" property="dr" jdbcType="DECIMAL" />
    <result column="MINPRICE" property="minprice" jdbcType="DECIMAL" />
    <result column="PKORG" property="pkorg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PKMATERIALSALE, VDEF1, PKMATERIAL, VDEF2, VDEF3, VDEF4, VDEF5, VDEF6, VDEF7, VDEF8, 
    VDEF9, VDEF10, DR, MINPRICE, PKORG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fgc.pojo.MaterialSaleVOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LX_BD_MATERIALSALE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from LX_BD_MATERIALSALE
    where PKMATERIALSALE = #{pkmaterialsale,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LX_BD_MATERIALSALE
    where PKMATERIALSALE = #{pkmaterialsale,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fgc.pojo.MaterialSaleVOExample" >
    delete from LX_BD_MATERIALSALE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fgc.pojo.MaterialSaleVO" >
    insert into LX_BD_MATERIALSALE (PKMATERIALSALE, VDEF1, PKMATERIAL, 
      VDEF2, VDEF3, VDEF4, 
      VDEF5, VDEF6, VDEF7, 
      VDEF8, VDEF9, VDEF10, 
      DR, MINPRICE, PKORG
      )
    values (#{pkmaterialsale,jdbcType=VARCHAR}, #{vdef1,jdbcType=VARCHAR}, #{pkmaterial,jdbcType=VARCHAR}, 
      #{vdef2,jdbcType=VARCHAR}, #{vdef3,jdbcType=VARCHAR}, #{vdef4,jdbcType=VARCHAR}, 
      #{vdef5,jdbcType=VARCHAR}, #{vdef6,jdbcType=VARCHAR}, #{vdef7,jdbcType=VARCHAR}, 
      #{vdef8,jdbcType=VARCHAR}, #{vdef9,jdbcType=VARCHAR}, #{vdef10,jdbcType=VARCHAR}, 
      #{dr,jdbcType=DECIMAL}, #{minprice,jdbcType=DECIMAL}, #{pkorg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fgc.pojo.MaterialSaleVO" >
    insert into LX_BD_MATERIALSALE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkmaterialsale != null" >
        PKMATERIALSALE,
      </if>
      <if test="vdef1 != null" >
        VDEF1,
      </if>
      <if test="pkmaterial != null" >
        PKMATERIAL,
      </if>
      <if test="vdef2 != null" >
        VDEF2,
      </if>
      <if test="vdef3 != null" >
        VDEF3,
      </if>
      <if test="vdef4 != null" >
        VDEF4,
      </if>
      <if test="vdef5 != null" >
        VDEF5,
      </if>
      <if test="vdef6 != null" >
        VDEF6,
      </if>
      <if test="vdef7 != null" >
        VDEF7,
      </if>
      <if test="vdef8 != null" >
        VDEF8,
      </if>
      <if test="vdef9 != null" >
        VDEF9,
      </if>
      <if test="vdef10 != null" >
        VDEF10,
      </if>
      <if test="dr != null" >
        DR,
      </if>
      <if test="minprice != null" >
        MINPRICE,
      </if>
      <if test="pkorg != null" >
        PKORG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkmaterialsale != null" >
        #{pkmaterialsale,jdbcType=VARCHAR},
      </if>
      <if test="vdef1 != null" >
        #{vdef1,jdbcType=VARCHAR},
      </if>
      <if test="pkmaterial != null" >
        #{pkmaterial,jdbcType=VARCHAR},
      </if>
      <if test="vdef2 != null" >
        #{vdef2,jdbcType=VARCHAR},
      </if>
      <if test="vdef3 != null" >
        #{vdef3,jdbcType=VARCHAR},
      </if>
      <if test="vdef4 != null" >
        #{vdef4,jdbcType=VARCHAR},
      </if>
      <if test="vdef5 != null" >
        #{vdef5,jdbcType=VARCHAR},
      </if>
      <if test="vdef6 != null" >
        #{vdef6,jdbcType=VARCHAR},
      </if>
      <if test="vdef7 != null" >
        #{vdef7,jdbcType=VARCHAR},
      </if>
      <if test="vdef8 != null" >
        #{vdef8,jdbcType=VARCHAR},
      </if>
      <if test="vdef9 != null" >
        #{vdef9,jdbcType=VARCHAR},
      </if>
      <if test="vdef10 != null" >
        #{vdef10,jdbcType=VARCHAR},
      </if>
      <if test="dr != null" >
        #{dr,jdbcType=DECIMAL},
      </if>
      <if test="minprice != null" >
        #{minprice,jdbcType=DECIMAL},
      </if>
      <if test="pkorg != null" >
        #{pkorg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fgc.pojo.MaterialSaleVOExample" resultType="java.lang.Integer" >
    select count(*) from LX_BD_MATERIALSALE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update LX_BD_MATERIALSALE
    <set >
      <if test="record.pkmaterialsale != null" >
        PKMATERIALSALE = #{record.pkmaterialsale,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef1 != null" >
        VDEF1 = #{record.vdef1,jdbcType=VARCHAR},
      </if>
      <if test="record.pkmaterial != null" >
        PKMATERIAL = #{record.pkmaterial,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef2 != null" >
        VDEF2 = #{record.vdef2,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef3 != null" >
        VDEF3 = #{record.vdef3,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef4 != null" >
        VDEF4 = #{record.vdef4,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef5 != null" >
        VDEF5 = #{record.vdef5,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef6 != null" >
        VDEF6 = #{record.vdef6,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef7 != null" >
        VDEF7 = #{record.vdef7,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef8 != null" >
        VDEF8 = #{record.vdef8,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef9 != null" >
        VDEF9 = #{record.vdef9,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef10 != null" >
        VDEF10 = #{record.vdef10,jdbcType=VARCHAR},
      </if>
      <if test="record.dr != null" >
        DR = #{record.dr,jdbcType=DECIMAL},
      </if>
      <if test="record.minprice != null" >
        MINPRICE = #{record.minprice,jdbcType=DECIMAL},
      </if>
      <if test="record.pkorg != null" >
        PKORG = #{record.pkorg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update LX_BD_MATERIALSALE
    set PKMATERIALSALE = #{record.pkmaterialsale,jdbcType=VARCHAR},
      VDEF1 = #{record.vdef1,jdbcType=VARCHAR},
      PKMATERIAL = #{record.pkmaterial,jdbcType=VARCHAR},
      VDEF2 = #{record.vdef2,jdbcType=VARCHAR},
      VDEF3 = #{record.vdef3,jdbcType=VARCHAR},
      VDEF4 = #{record.vdef4,jdbcType=VARCHAR},
      VDEF5 = #{record.vdef5,jdbcType=VARCHAR},
      VDEF6 = #{record.vdef6,jdbcType=VARCHAR},
      VDEF7 = #{record.vdef7,jdbcType=VARCHAR},
      VDEF8 = #{record.vdef8,jdbcType=VARCHAR},
      VDEF9 = #{record.vdef9,jdbcType=VARCHAR},
      VDEF10 = #{record.vdef10,jdbcType=VARCHAR},
      DR = #{record.dr,jdbcType=DECIMAL},
      MINPRICE = #{record.minprice,jdbcType=DECIMAL},
      PKORG = #{record.pkorg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fgc.pojo.MaterialSaleVO" >
    update LX_BD_MATERIALSALE
    <set >
      <if test="vdef1 != null" >
        VDEF1 = #{vdef1,jdbcType=VARCHAR},
      </if>
      <if test="pkmaterial != null" >
        PKMATERIAL = #{pkmaterial,jdbcType=VARCHAR},
      </if>
      <if test="vdef2 != null" >
        VDEF2 = #{vdef2,jdbcType=VARCHAR},
      </if>
      <if test="vdef3 != null" >
        VDEF3 = #{vdef3,jdbcType=VARCHAR},
      </if>
      <if test="vdef4 != null" >
        VDEF4 = #{vdef4,jdbcType=VARCHAR},
      </if>
      <if test="vdef5 != null" >
        VDEF5 = #{vdef5,jdbcType=VARCHAR},
      </if>
      <if test="vdef6 != null" >
        VDEF6 = #{vdef6,jdbcType=VARCHAR},
      </if>
      <if test="vdef7 != null" >
        VDEF7 = #{vdef7,jdbcType=VARCHAR},
      </if>
      <if test="vdef8 != null" >
        VDEF8 = #{vdef8,jdbcType=VARCHAR},
      </if>
      <if test="vdef9 != null" >
        VDEF9 = #{vdef9,jdbcType=VARCHAR},
      </if>
      <if test="vdef10 != null" >
        VDEF10 = #{vdef10,jdbcType=VARCHAR},
      </if>
      <if test="dr != null" >
        DR = #{dr,jdbcType=DECIMAL},
      </if>
      <if test="minprice != null" >
        MINPRICE = #{minprice,jdbcType=DECIMAL},
      </if>
      <if test="pkorg != null" >
        PKORG = #{pkorg,jdbcType=VARCHAR},
      </if>
    </set>
    where PKMATERIALSALE = #{pkmaterialsale,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fgc.pojo.MaterialSaleVO" >
    update LX_BD_MATERIALSALE
    set VDEF1 = #{vdef1,jdbcType=VARCHAR},
      PKMATERIAL = #{pkmaterial,jdbcType=VARCHAR},
      VDEF2 = #{vdef2,jdbcType=VARCHAR},
      VDEF3 = #{vdef3,jdbcType=VARCHAR},
      VDEF4 = #{vdef4,jdbcType=VARCHAR},
      VDEF5 = #{vdef5,jdbcType=VARCHAR},
      VDEF6 = #{vdef6,jdbcType=VARCHAR},
      VDEF7 = #{vdef7,jdbcType=VARCHAR},
      VDEF8 = #{vdef8,jdbcType=VARCHAR},
      VDEF9 = #{vdef9,jdbcType=VARCHAR},
      VDEF10 = #{vdef10,jdbcType=VARCHAR},
      DR = #{dr,jdbcType=DECIMAL},
      MINPRICE = #{minprice,jdbcType=DECIMAL},
      PKORG = #{pkorg,jdbcType=VARCHAR}
    where PKMATERIALSALE = #{pkmaterialsale,jdbcType=VARCHAR}
  </update>
</mapper>