<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fgc.mapper.MoneyDataVOMapper" >
  <resultMap id="BaseResultMap" type="com.fgc.pojo.MoneyDataVO" >
    <result column="PID" property="pid" jdbcType="VARCHAR" />
    <result column="DBILLDATE" property="dbilldate" jdbcType="VARCHAR" />
    <result column="XIANJIN" property="xianjin" jdbcType="DECIMAL" />
    <result column="ZHIPIAO" property="zhipiao" jdbcType="DECIMAL" />
    <result column="XIAOJI" property="xiaoji" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PID, DBILLDATE, XIANJIN, ZHIPIAO, XIAOJI
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fgc.pojo.MoneyDataVOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SO_MONEY_DATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.fgc.pojo.MoneyDataVOExample" >
    delete from SO_MONEY_DATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fgc.pojo.MoneyDataVO" >
    insert into SO_MONEY_DATA (PID, DBILLDATE, XIANJIN, 
      ZHIPIAO, XIAOJI)
    values (#{pid,jdbcType=VARCHAR}, #{dbilldate,jdbcType=VARCHAR}, #{xianjin,jdbcType=DECIMAL}, 
      #{zhipiao,jdbcType=DECIMAL}, #{xiaoji,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.fgc.pojo.MoneyDataVO" >
    insert into SO_MONEY_DATA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        PID,
      </if>
      <if test="dbilldate != null" >
        DBILLDATE,
      </if>
      <if test="xianjin != null" >
        XIANJIN,
      </if>
      <if test="zhipiao != null" >
        ZHIPIAO,
      </if>
      <if test="xiaoji != null" >
        XIAOJI,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="dbilldate != null" >
        #{dbilldate,jdbcType=VARCHAR},
      </if>
      <if test="xianjin != null" >
        #{xianjin,jdbcType=DECIMAL},
      </if>
      <if test="zhipiao != null" >
        #{zhipiao,jdbcType=DECIMAL},
      </if>
      <if test="xiaoji != null" >
        #{xiaoji,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fgc.pojo.MoneyDataVOExample" resultType="java.lang.Integer" >
    select count(*) from SO_MONEY_DATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SO_MONEY_DATA
    <set >
      <if test="record.pid != null" >
        PID = #{record.pid,jdbcType=VARCHAR},
      </if>
      <if test="record.dbilldate != null" >
        DBILLDATE = #{record.dbilldate,jdbcType=VARCHAR},
      </if>
      <if test="record.xianjin != null" >
        XIANJIN = #{record.xianjin,jdbcType=DECIMAL},
      </if>
      <if test="record.zhipiao != null" >
        ZHIPIAO = #{record.zhipiao,jdbcType=DECIMAL},
      </if>
      <if test="record.xiaoji != null" >
        XIAOJI = #{record.xiaoji,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SO_MONEY_DATA
    set PID = #{record.pid,jdbcType=VARCHAR},
      DBILLDATE = #{record.dbilldate,jdbcType=VARCHAR},
      XIANJIN = #{record.xianjin,jdbcType=DECIMAL},
      ZHIPIAO = #{record.zhipiao,jdbcType=DECIMAL},
      XIAOJI = #{record.xiaoji,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>