<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fgc.mapper.OrderHVOMapper" >
  <resultMap id="BaseResultMap" type="com.fgc.pojo.OrderHVO" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PK_GROUP" property="pkGroup" jdbcType="VARCHAR" />
    <result column="PK_ORG" property="pkOrg" jdbcType="VARCHAR" />
    <result column="VBILLTYPE" property="vbilltype" jdbcType="VARCHAR" />
    <result column="CBILLTYPE" property="cbilltype" jdbcType="VARCHAR" />
    <result column="VBILLCODE" property="vbillcode" jdbcType="VARCHAR" />
    <result column="DBILLDATE" property="dbilldate" jdbcType="VARCHAR" />
    <result column="CUSTOMER" property="customer" jdbcType="VARCHAR" />
    <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
    <result column="SALESMAN" property="salesman" jdbcType="VARCHAR" />
    <result column="CDEPT" property="cdept" jdbcType="VARCHAR" />
    <result column="NTOTALNUM" property="ntotalnum" jdbcType="DECIMAL" />
    <result column="NORIGTAXMNY" property="norigtaxmny" jdbcType="DECIMAL" />
    <result column="NRECEIVEDMNY" property="nreceivedmny" jdbcType="DECIMAL" />
    <result column="VBILLSTATUS" property="vbillstatus" jdbcType="DECIMAL" />
    <result column="CLIENT" property="client" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="CBALATYPE" property="cbalatype" jdbcType="VARCHAR" />
    <result column="VDEF1" property="vdef1" jdbcType="VARCHAR" />
    <result column="VDEF2" property="vdef2" jdbcType="VARCHAR" />
    <result column="VDEF3" property="vdef3" jdbcType="VARCHAR" />
    <result column="VDEF4" property="vdef4" jdbcType="VARCHAR" />
    <result column="VDEF5" property="vdef5" jdbcType="VARCHAR" />
    <result column="VSRCID" property="vsrcid" jdbcType="VARCHAR" />
    <result column="VDEF6" property="vdef6" jdbcType="VARCHAR" />
    <result column="VDEF7" property="vdef7" jdbcType="VARCHAR" />
    <result column="VSRCCODE" property="vsrccode" jdbcType="VARCHAR" />
    <result column="VDEF8" property="vdef8" jdbcType="VARCHAR" />
    <result column="VDEF9" property="vdef9" jdbcType="VARCHAR" />
    <result column="VDEF10" property="vdef10" jdbcType="VARCHAR" />
    <result column="BILLMAKER" property="billmaker" jdbcType="VARCHAR" />
    <result column="BILLMAKETIME" property="billmaketime" jdbcType="VARCHAR" />
    <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" />
    <result column="MODIFIEDTIME" property="modifiedtime" jdbcType="VARCHAR" />
    <result column="APPROVER" property="approver" jdbcType="VARCHAR" />
    <result column="APPROVETIME" property="approvetime" jdbcType="VARCHAR" />
    <result column="ISSYNC" property="issync" jdbcType="DECIMAL" />
    <result column="EFFECTBILLCODE" property="effectbillcode" jdbcType="VARCHAR" />
    <result column="REVISER" property="reviser" jdbcType="VARCHAR" />
    <result column="REVISETIME" property="revisetime" jdbcType="VARCHAR" />
    <result column="RETURNSALE" property="returnsale" jdbcType="DECIMAL" />
    <result column="TS" property="ts" jdbcType="VARCHAR" />
    <result column="DR" property="dr" jdbcType="DECIMAL" />
    <result column="NTOTALINVOICEMNY" property="ntotalinvoicemny" jdbcType="DECIMAL" />
    <result column="ALREADYINVOICE" property="alreadyinvoice" jdbcType="DECIMAL" />
    <result column="ALREADYIN" property="alreadyin" jdbcType="DECIMAL" />
    <result column="ALREADYREVISE" property="alreadyrevise" jdbcType="DECIMAL" />
    <result column="NTOTALINVOICENUM" property="ntotalinvoicenum" jdbcType="DECIMAL" />
    <result column="NTOTALINNUM" property="ntotalinnum" jdbcType="DECIMAL" />
    <result column="NEXCHANGERATE" property="nexchangerate" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ( ${criterion.condition}
                  <foreach collection="criterion.value" index="index" item="listItem" open="(" close=")" separator="," >
                    <if test="(index % 999) == 998"> NULL ) OR ${criterion.condition} (</if>#{listItem}
                  </foreach>
                  )
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PK_GROUP, PK_ORG, VBILLTYPE, CBILLTYPE, VBILLCODE, DBILLDATE, CUSTOMER, CURRENCY, 
    SALESMAN, CDEPT, NTOTALNUM, NORIGTAXMNY, NRECEIVEDMNY, VBILLSTATUS, CLIENT, ADDRESS, 
    TEL, MEMO, CBALATYPE, VDEF1, VDEF2, VDEF3, VDEF4, VDEF5, VSRCID, VDEF6, VDEF7, VSRCCODE, 
    VDEF8, VDEF9, VDEF10, BILLMAKER, BILLMAKETIME, MODIFIER, MODIFIEDTIME, APPROVER, 
    APPROVETIME, ISSYNC, EFFECTBILLCODE, REVISER, REVISETIME, RETURNSALE, TS, DR, NTOTALINVOICEMNY, 
    ALREADYINVOICE, ALREADYIN, ALREADYREVISE, NTOTALINVOICENUM, NTOTALINNUM, NEXCHANGERATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fgc.pojo.OrderHVOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SO_ORDER_H
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SO_ORDER_H
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SO_ORDER_H
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fgc.pojo.OrderHVOExample" >
    delete from SO_ORDER_H
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fgc.pojo.OrderHVO" >
    insert into SO_ORDER_H (ID, PK_GROUP, PK_ORG, 
      VBILLTYPE, CBILLTYPE, VBILLCODE, 
      DBILLDATE, CUSTOMER, CURRENCY, 
      SALESMAN, CDEPT, NTOTALNUM, 
      NORIGTAXMNY, NRECEIVEDMNY, VBILLSTATUS, 
      CLIENT, ADDRESS, TEL, 
      MEMO, CBALATYPE, VDEF1, 
      VDEF2, VDEF3, VDEF4, 
      VDEF5, VSRCID, VDEF6, 
      VDEF7, VSRCCODE, VDEF8, 
      VDEF9, VDEF10, BILLMAKER, 
      BILLMAKETIME, MODIFIER, MODIFIEDTIME, 
      APPROVER, APPROVETIME, ISSYNC, 
      EFFECTBILLCODE, REVISER, REVISETIME, 
      RETURNSALE, TS, DR, 
      NTOTALINVOICEMNY, ALREADYINVOICE, ALREADYIN, 
      ALREADYREVISE, NTOTALINVOICENUM, NTOTALINNUM, 
      NEXCHANGERATE)
    values (#{id,jdbcType=VARCHAR}, #{pkGroup,jdbcType=VARCHAR}, #{pkOrg,jdbcType=VARCHAR}, 
      #{vbilltype,jdbcType=VARCHAR}, #{cbilltype,jdbcType=VARCHAR}, #{vbillcode,jdbcType=VARCHAR}, 
      #{dbilldate,jdbcType=VARCHAR}, #{customer,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, 
      #{salesman,jdbcType=VARCHAR}, #{cdept,jdbcType=VARCHAR}, #{ntotalnum,jdbcType=DECIMAL}, 
      #{norigtaxmny,jdbcType=DECIMAL}, #{nreceivedmny,jdbcType=DECIMAL}, #{vbillstatus,jdbcType=DECIMAL}, 
      #{client,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{cbalatype,jdbcType=VARCHAR}, #{vdef1,jdbcType=VARCHAR}, 
      #{vdef2,jdbcType=VARCHAR}, #{vdef3,jdbcType=VARCHAR}, #{vdef4,jdbcType=VARCHAR}, 
      #{vdef5,jdbcType=VARCHAR}, #{vsrcid,jdbcType=VARCHAR}, #{vdef6,jdbcType=VARCHAR}, 
      #{vdef7,jdbcType=VARCHAR}, #{vsrccode,jdbcType=VARCHAR}, #{vdef8,jdbcType=VARCHAR}, 
      #{vdef9,jdbcType=VARCHAR}, #{vdef10,jdbcType=VARCHAR}, #{billmaker,jdbcType=VARCHAR}, 
      #{billmaketime,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{modifiedtime,jdbcType=VARCHAR}, 
      #{approver,jdbcType=VARCHAR}, #{approvetime,jdbcType=VARCHAR}, #{issync,jdbcType=DECIMAL}, 
      #{effectbillcode,jdbcType=VARCHAR}, #{reviser,jdbcType=VARCHAR}, #{revisetime,jdbcType=VARCHAR}, 
      #{returnsale,jdbcType=DECIMAL}, #{ts,jdbcType=VARCHAR}, #{dr,jdbcType=DECIMAL}, 
      #{ntotalinvoicemny,jdbcType=DECIMAL}, #{alreadyinvoice,jdbcType=DECIMAL}, #{alreadyin,jdbcType=DECIMAL}, 
      #{alreadyrevise,jdbcType=DECIMAL}, #{ntotalinvoicenum,jdbcType=DECIMAL}, #{ntotalinnum,jdbcType=DECIMAL}, 
      #{nexchangerate,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.fgc.pojo.OrderHVO" >
    insert into SO_ORDER_H
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="pkGroup != null" >
        PK_GROUP,
      </if>
      <if test="pkOrg != null" >
        PK_ORG,
      </if>
      <if test="vbilltype != null" >
        VBILLTYPE,
      </if>
      <if test="cbilltype != null" >
        CBILLTYPE,
      </if>
      <if test="vbillcode != null" >
        VBILLCODE,
      </if>
      <if test="dbilldate != null" >
        DBILLDATE,
      </if>
      <if test="customer != null" >
        CUSTOMER,
      </if>
      <if test="currency != null" >
        CURRENCY,
      </if>
      <if test="salesman != null" >
        SALESMAN,
      </if>
      <if test="cdept != null" >
        CDEPT,
      </if>
      <if test="ntotalnum != null" >
        NTOTALNUM,
      </if>
      <if test="norigtaxmny != null" >
        NORIGTAXMNY,
      </if>
      <if test="nreceivedmny != null" >
        NRECEIVEDMNY,
      </if>
      <if test="vbillstatus != null" >
        VBILLSTATUS,
      </if>
      <if test="client != null" >
        CLIENT,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="cbalatype != null" >
        CBALATYPE,
      </if>
      <if test="vdef1 != null" >
        VDEF1,
      </if>
      <if test="vdef2 != null" >
        VDEF2,
      </if>
      <if test="vdef3 != null" >
        VDEF3,
      </if>
      <if test="vdef4 != null" >
        VDEF4,
      </if>
      <if test="vdef5 != null" >
        VDEF5,
      </if>
      <if test="vsrcid != null" >
        VSRCID,
      </if>
      <if test="vdef6 != null" >
        VDEF6,
      </if>
      <if test="vdef7 != null" >
        VDEF7,
      </if>
      <if test="vsrccode != null" >
        VSRCCODE,
      </if>
      <if test="vdef8 != null" >
        VDEF8,
      </if>
      <if test="vdef9 != null" >
        VDEF9,
      </if>
      <if test="vdef10 != null" >
        VDEF10,
      </if>
      <if test="billmaker != null" >
        BILLMAKER,
      </if>
      <if test="billmaketime != null" >
        BILLMAKETIME,
      </if>
      <if test="modifier != null" >
        MODIFIER,
      </if>
      <if test="modifiedtime != null" >
        MODIFIEDTIME,
      </if>
      <if test="approver != null" >
        APPROVER,
      </if>
      <if test="approvetime != null" >
        APPROVETIME,
      </if>
      <if test="issync != null" >
        ISSYNC,
      </if>
      <if test="effectbillcode != null" >
        EFFECTBILLCODE,
      </if>
      <if test="reviser != null" >
        REVISER,
      </if>
      <if test="revisetime != null" >
        REVISETIME,
      </if>
      <if test="returnsale != null" >
        RETURNSALE,
      </if>
      <if test="ts != null" >
        TS,
      </if>
      <if test="dr != null" >
        DR,
      </if>
      <if test="ntotalinvoicemny != null" >
        NTOTALINVOICEMNY,
      </if>
      <if test="alreadyinvoice != null" >
        ALREADYINVOICE,
      </if>
      <if test="alreadyin != null" >
        ALREADYIN,
      </if>
      <if test="alreadyrevise != null" >
        ALREADYREVISE,
      </if>
      <if test="ntotalinvoicenum != null" >
        NTOTALINVOICENUM,
      </if>
      <if test="ntotalinnum != null" >
        NTOTALINNUM,
      </if>
      <if test="nexchangerate != null" >
        NEXCHANGERATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pkGroup != null" >
        #{pkGroup,jdbcType=VARCHAR},
      </if>
      <if test="pkOrg != null" >
        #{pkOrg,jdbcType=VARCHAR},
      </if>
      <if test="vbilltype != null" >
        #{vbilltype,jdbcType=VARCHAR},
      </if>
      <if test="cbilltype != null" >
        #{cbilltype,jdbcType=VARCHAR},
      </if>
      <if test="vbillcode != null" >
        #{vbillcode,jdbcType=VARCHAR},
      </if>
      <if test="dbilldate != null" >
        #{dbilldate,jdbcType=VARCHAR},
      </if>
      <if test="customer != null" >
        #{customer,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="salesman != null" >
        #{salesman,jdbcType=VARCHAR},
      </if>
      <if test="cdept != null" >
        #{cdept,jdbcType=VARCHAR},
      </if>
      <if test="ntotalnum != null" >
        #{ntotalnum,jdbcType=DECIMAL},
      </if>
      <if test="norigtaxmny != null" >
        #{norigtaxmny,jdbcType=DECIMAL},
      </if>
      <if test="nreceivedmny != null" >
        #{nreceivedmny,jdbcType=DECIMAL},
      </if>
      <if test="vbillstatus != null" >
        #{vbillstatus,jdbcType=DECIMAL},
      </if>
      <if test="client != null" >
        #{client,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="cbalatype != null" >
        #{cbalatype,jdbcType=VARCHAR},
      </if>
      <if test="vdef1 != null" >
        #{vdef1,jdbcType=VARCHAR},
      </if>
      <if test="vdef2 != null" >
        #{vdef2,jdbcType=VARCHAR},
      </if>
      <if test="vdef3 != null" >
        #{vdef3,jdbcType=VARCHAR},
      </if>
      <if test="vdef4 != null" >
        #{vdef4,jdbcType=VARCHAR},
      </if>
      <if test="vdef5 != null" >
        #{vdef5,jdbcType=VARCHAR},
      </if>
      <if test="vsrcid != null" >
        #{vsrcid,jdbcType=VARCHAR},
      </if>
      <if test="vdef6 != null" >
        #{vdef6,jdbcType=VARCHAR},
      </if>
      <if test="vdef7 != null" >
        #{vdef7,jdbcType=VARCHAR},
      </if>
      <if test="vsrccode != null" >
        #{vsrccode,jdbcType=VARCHAR},
      </if>
      <if test="vdef8 != null" >
        #{vdef8,jdbcType=VARCHAR},
      </if>
      <if test="vdef9 != null" >
        #{vdef9,jdbcType=VARCHAR},
      </if>
      <if test="vdef10 != null" >
        #{vdef10,jdbcType=VARCHAR},
      </if>
      <if test="billmaker != null" >
        #{billmaker,jdbcType=VARCHAR},
      </if>
      <if test="billmaketime != null" >
        #{billmaketime,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=VARCHAR},
      </if>
      <if test="approver != null" >
        #{approver,jdbcType=VARCHAR},
      </if>
      <if test="approvetime != null" >
        #{approvetime,jdbcType=VARCHAR},
      </if>
      <if test="issync != null" >
        #{issync,jdbcType=DECIMAL},
      </if>
      <if test="effectbillcode != null" >
        #{effectbillcode,jdbcType=VARCHAR},
      </if>
      <if test="reviser != null" >
        #{reviser,jdbcType=VARCHAR},
      </if>
      <if test="revisetime != null" >
        #{revisetime,jdbcType=VARCHAR},
      </if>
      <if test="returnsale != null" >
        #{returnsale,jdbcType=DECIMAL},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=VARCHAR},
      </if>
      <if test="dr != null" >
        #{dr,jdbcType=DECIMAL},
      </if>
      <if test="ntotalinvoicemny != null" >
        #{ntotalinvoicemny,jdbcType=DECIMAL},
      </if>
      <if test="alreadyinvoice != null" >
        #{alreadyinvoice,jdbcType=DECIMAL},
      </if>
      <if test="alreadyin != null" >
        #{alreadyin,jdbcType=DECIMAL},
      </if>
      <if test="alreadyrevise != null" >
        #{alreadyrevise,jdbcType=DECIMAL},
      </if>
      <if test="ntotalinvoicenum != null" >
        #{ntotalinvoicenum,jdbcType=DECIMAL},
      </if>
      <if test="ntotalinnum != null" >
        #{ntotalinnum,jdbcType=DECIMAL},
      </if>
      <if test="nexchangerate != null" >
        #{nexchangerate,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fgc.pojo.OrderHVOExample" resultType="java.lang.Integer" >
    select count(*) from SO_ORDER_H
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SO_ORDER_H
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.pkGroup != null" >
        PK_GROUP = #{record.pkGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.pkOrg != null" >
        PK_ORG = #{record.pkOrg,jdbcType=VARCHAR},
      </if>
      <if test="record.vbilltype != null" >
        VBILLTYPE = #{record.vbilltype,jdbcType=VARCHAR},
      </if>
      <if test="record.cbilltype != null" >
        CBILLTYPE = #{record.cbilltype,jdbcType=VARCHAR},
      </if>
      <if test="record.vbillcode != null" >
        VBILLCODE = #{record.vbillcode,jdbcType=VARCHAR},
      </if>
      <if test="record.dbilldate != null" >
        DBILLDATE = #{record.dbilldate,jdbcType=VARCHAR},
      </if>
      <if test="record.customer != null" >
        CUSTOMER = #{record.customer,jdbcType=VARCHAR},
      </if>
      <if test="record.currency != null" >
        CURRENCY = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.salesman != null" >
        SALESMAN = #{record.salesman,jdbcType=VARCHAR},
      </if>
      <if test="record.cdept != null" >
        CDEPT = #{record.cdept,jdbcType=VARCHAR},
      </if>
      <if test="record.ntotalnum != null" >
        NTOTALNUM = #{record.ntotalnum,jdbcType=DECIMAL},
      </if>
      <if test="record.norigtaxmny != null" >
        NORIGTAXMNY = #{record.norigtaxmny,jdbcType=DECIMAL},
      </if>
      <if test="record.nreceivedmny != null" >
        NRECEIVEDMNY = #{record.nreceivedmny,jdbcType=DECIMAL},
      </if>
      <if test="record.vbillstatus != null" >
        VBILLSTATUS = #{record.vbillstatus,jdbcType=DECIMAL},
      </if>
      <if test="record.client != null" >
        CLIENT = #{record.client,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        TEL = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null" >
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.cbalatype != null" >
        CBALATYPE = #{record.cbalatype,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef1 != null" >
        VDEF1 = #{record.vdef1,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef2 != null" >
        VDEF2 = #{record.vdef2,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef3 != null" >
        VDEF3 = #{record.vdef3,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef4 != null" >
        VDEF4 = #{record.vdef4,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef5 != null" >
        VDEF5 = #{record.vdef5,jdbcType=VARCHAR},
      </if>
      <if test="record.vsrcid != null" >
        VSRCID = #{record.vsrcid,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef6 != null" >
        VDEF6 = #{record.vdef6,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef7 != null" >
        VDEF7 = #{record.vdef7,jdbcType=VARCHAR},
      </if>
      <if test="record.vsrccode != null" >
        VSRCCODE = #{record.vsrccode,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef8 != null" >
        VDEF8 = #{record.vdef8,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef9 != null" >
        VDEF9 = #{record.vdef9,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef10 != null" >
        VDEF10 = #{record.vdef10,jdbcType=VARCHAR},
      </if>
      <if test="record.billmaker != null" >
        BILLMAKER = #{record.billmaker,jdbcType=VARCHAR},
      </if>
      <if test="record.billmaketime != null" >
        BILLMAKETIME = #{record.billmaketime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifier != null" >
        MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedtime != null" >
        MODIFIEDTIME = #{record.modifiedtime,jdbcType=VARCHAR},
      </if>
      <if test="record.approver != null" >
        APPROVER = #{record.approver,jdbcType=VARCHAR},
      </if>
      <if test="record.approvetime != null" >
        APPROVETIME = #{record.approvetime,jdbcType=VARCHAR},
      </if>
      <if test="record.issync != null" >
        ISSYNC = #{record.issync,jdbcType=DECIMAL},
      </if>
      <if test="record.effectbillcode != null" >
        EFFECTBILLCODE = #{record.effectbillcode,jdbcType=VARCHAR},
      </if>
      <if test="record.reviser != null" >
        REVISER = #{record.reviser,jdbcType=VARCHAR},
      </if>
      <if test="record.revisetime != null" >
        REVISETIME = #{record.revisetime,jdbcType=VARCHAR},
      </if>
      <if test="record.returnsale != null" >
        RETURNSALE = #{record.returnsale,jdbcType=DECIMAL},
      </if>
      <if test="record.ts != null" >
        TS = #{record.ts,jdbcType=VARCHAR},
      </if>
      <if test="record.dr != null" >
        DR = #{record.dr,jdbcType=DECIMAL},
      </if>
      <if test="record.ntotalinvoicemny != null" >
        NTOTALINVOICEMNY = #{record.ntotalinvoicemny,jdbcType=DECIMAL},
      </if>
      <if test="record.alreadyinvoice != null" >
        ALREADYINVOICE = #{record.alreadyinvoice,jdbcType=DECIMAL},
      </if>
      <if test="record.alreadyin != null" >
        ALREADYIN = #{record.alreadyin,jdbcType=DECIMAL},
      </if>
      <if test="record.alreadyrevise != null" >
        ALREADYREVISE = #{record.alreadyrevise,jdbcType=DECIMAL},
      </if>
      <if test="record.ntotalinvoicenum != null" >
        NTOTALINVOICENUM = #{record.ntotalinvoicenum,jdbcType=DECIMAL},
      </if>
      <if test="record.ntotalinnum != null" >
        NTOTALINNUM = #{record.ntotalinnum,jdbcType=DECIMAL},
      </if>
      <if test="record.nexchangerate != null" >
        NEXCHANGERATE = #{record.nexchangerate,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SO_ORDER_H
    set ID = #{record.id,jdbcType=VARCHAR},
      PK_GROUP = #{record.pkGroup,jdbcType=VARCHAR},
      PK_ORG = #{record.pkOrg,jdbcType=VARCHAR},
      VBILLTYPE = #{record.vbilltype,jdbcType=VARCHAR},
      CBILLTYPE = #{record.cbilltype,jdbcType=VARCHAR},
      VBILLCODE = #{record.vbillcode,jdbcType=VARCHAR},
      DBILLDATE = #{record.dbilldate,jdbcType=VARCHAR},
      CUSTOMER = #{record.customer,jdbcType=VARCHAR},
      CURRENCY = #{record.currency,jdbcType=VARCHAR},
      SALESMAN = #{record.salesman,jdbcType=VARCHAR},
      CDEPT = #{record.cdept,jdbcType=VARCHAR},
      NTOTALNUM = #{record.ntotalnum,jdbcType=DECIMAL},
      NORIGTAXMNY = #{record.norigtaxmny,jdbcType=DECIMAL},
      NRECEIVEDMNY = #{record.nreceivedmny,jdbcType=DECIMAL},
      VBILLSTATUS = #{record.vbillstatus,jdbcType=DECIMAL},
      CLIENT = #{record.client,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      TEL = #{record.tel,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      CBALATYPE = #{record.cbalatype,jdbcType=VARCHAR},
      VDEF1 = #{record.vdef1,jdbcType=VARCHAR},
      VDEF2 = #{record.vdef2,jdbcType=VARCHAR},
      VDEF3 = #{record.vdef3,jdbcType=VARCHAR},
      VDEF4 = #{record.vdef4,jdbcType=VARCHAR},
      VDEF5 = #{record.vdef5,jdbcType=VARCHAR},
      VSRCID = #{record.vsrcid,jdbcType=VARCHAR},
      VDEF6 = #{record.vdef6,jdbcType=VARCHAR},
      VDEF7 = #{record.vdef7,jdbcType=VARCHAR},
      VSRCCODE = #{record.vsrccode,jdbcType=VARCHAR},
      VDEF8 = #{record.vdef8,jdbcType=VARCHAR},
      VDEF9 = #{record.vdef9,jdbcType=VARCHAR},
      VDEF10 = #{record.vdef10,jdbcType=VARCHAR},
      BILLMAKER = #{record.billmaker,jdbcType=VARCHAR},
      BILLMAKETIME = #{record.billmaketime,jdbcType=VARCHAR},
      MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      MODIFIEDTIME = #{record.modifiedtime,jdbcType=VARCHAR},
      APPROVER = #{record.approver,jdbcType=VARCHAR},
      APPROVETIME = #{record.approvetime,jdbcType=VARCHAR},
      ISSYNC = #{record.issync,jdbcType=DECIMAL},
      EFFECTBILLCODE = #{record.effectbillcode,jdbcType=VARCHAR},
      REVISER = #{record.reviser,jdbcType=VARCHAR},
      REVISETIME = #{record.revisetime,jdbcType=VARCHAR},
      RETURNSALE = #{record.returnsale,jdbcType=DECIMAL},
      TS = #{record.ts,jdbcType=VARCHAR},
      DR = #{record.dr,jdbcType=DECIMAL},
      NTOTALINVOICEMNY = #{record.ntotalinvoicemny,jdbcType=DECIMAL},
      ALREADYINVOICE = #{record.alreadyinvoice,jdbcType=DECIMAL},
      ALREADYIN = #{record.alreadyin,jdbcType=DECIMAL},
      ALREADYREVISE = #{record.alreadyrevise,jdbcType=DECIMAL},
      NTOTALINVOICENUM = #{record.ntotalinvoicenum,jdbcType=DECIMAL},
      NTOTALINNUM = #{record.ntotalinnum,jdbcType=DECIMAL},
      NEXCHANGERATE = #{record.nexchangerate,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fgc.pojo.OrderHVO" >
    update SO_ORDER_H
    <set >
      <if test="pkGroup != null" >
        PK_GROUP = #{pkGroup,jdbcType=VARCHAR},
      </if>
      <if test="pkOrg != null" >
        PK_ORG = #{pkOrg,jdbcType=VARCHAR},
      </if>
      <if test="vbilltype != null" >
        VBILLTYPE = #{vbilltype,jdbcType=VARCHAR},
      </if>
      <if test="cbilltype != null" >
        CBILLTYPE = #{cbilltype,jdbcType=VARCHAR},
      </if>
      <if test="vbillcode != null" >
        VBILLCODE = #{vbillcode,jdbcType=VARCHAR},
      </if>
      <if test="dbilldate != null" >
        DBILLDATE = #{dbilldate,jdbcType=VARCHAR},
      </if>
      <if test="customer != null" >
        CUSTOMER = #{customer,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        CURRENCY = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="salesman != null" >
        SALESMAN = #{salesman,jdbcType=VARCHAR},
      </if>
      <if test="cdept != null" >
        CDEPT = #{cdept,jdbcType=VARCHAR},
      </if>
      <if test="ntotalnum != null" >
        NTOTALNUM = #{ntotalnum,jdbcType=DECIMAL},
      </if>
      <if test="norigtaxmny != null" >
        NORIGTAXMNY = #{norigtaxmny,jdbcType=DECIMAL},
      </if>
      <if test="nreceivedmny != null" >
        NRECEIVEDMNY = #{nreceivedmny,jdbcType=DECIMAL},
      </if>
      <if test="vbillstatus != null" >
        VBILLSTATUS = #{vbillstatus,jdbcType=DECIMAL},
      </if>
      <if test="client != null" >
        CLIENT = #{client,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="cbalatype != null" >
        CBALATYPE = #{cbalatype,jdbcType=VARCHAR},
      </if>
      <if test="vdef1 != null" >
        VDEF1 = #{vdef1,jdbcType=VARCHAR},
      </if>
      <if test="vdef2 != null" >
        VDEF2 = #{vdef2,jdbcType=VARCHAR},
      </if>
      <if test="vdef3 != null" >
        VDEF3 = #{vdef3,jdbcType=VARCHAR},
      </if>
      <if test="vdef4 != null" >
        VDEF4 = #{vdef4,jdbcType=VARCHAR},
      </if>
      <if test="vdef5 != null" >
        VDEF5 = #{vdef5,jdbcType=VARCHAR},
      </if>
      <if test="vsrcid != null" >
        VSRCID = #{vsrcid,jdbcType=VARCHAR},
      </if>
      <if test="vdef6 != null" >
        VDEF6 = #{vdef6,jdbcType=VARCHAR},
      </if>
      <if test="vdef7 != null" >
        VDEF7 = #{vdef7,jdbcType=VARCHAR},
      </if>
      <if test="vsrccode != null" >
        VSRCCODE = #{vsrccode,jdbcType=VARCHAR},
      </if>
      <if test="vdef8 != null" >
        VDEF8 = #{vdef8,jdbcType=VARCHAR},
      </if>
      <if test="vdef9 != null" >
        VDEF9 = #{vdef9,jdbcType=VARCHAR},
      </if>
      <if test="vdef10 != null" >
        VDEF10 = #{vdef10,jdbcType=VARCHAR},
      </if>
      <if test="billmaker != null" >
        BILLMAKER = #{billmaker,jdbcType=VARCHAR},
      </if>
      <if test="billmaketime != null" >
        BILLMAKETIME = #{billmaketime,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifiedtime != null" >
        MODIFIEDTIME = #{modifiedtime,jdbcType=VARCHAR},
      </if>
      <if test="approver != null" >
        APPROVER = #{approver,jdbcType=VARCHAR},
      </if>
      <if test="approvetime != null" >
        APPROVETIME = #{approvetime,jdbcType=VARCHAR},
      </if>
      <if test="issync != null" >
        ISSYNC = #{issync,jdbcType=DECIMAL},
      </if>
      <if test="effectbillcode != null" >
        EFFECTBILLCODE = #{effectbillcode,jdbcType=VARCHAR},
      </if>
      <if test="reviser != null" >
        REVISER = #{reviser,jdbcType=VARCHAR},
      </if>
      <if test="revisetime != null" >
        REVISETIME = #{revisetime,jdbcType=VARCHAR},
      </if>
      <if test="returnsale != null" >
        RETURNSALE = #{returnsale,jdbcType=DECIMAL},
      </if>
      <if test="ts != null" >
        TS = #{ts,jdbcType=VARCHAR},
      </if>
      <if test="dr != null" >
        DR = #{dr,jdbcType=DECIMAL},
      </if>
      <if test="ntotalinvoicemny != null" >
        NTOTALINVOICEMNY = #{ntotalinvoicemny,jdbcType=DECIMAL},
      </if>
      <if test="alreadyinvoice != null" >
        ALREADYINVOICE = #{alreadyinvoice,jdbcType=DECIMAL},
      </if>
      <if test="alreadyin != null" >
        ALREADYIN = #{alreadyin,jdbcType=DECIMAL},
      </if>
      <if test="alreadyrevise != null" >
        ALREADYREVISE = #{alreadyrevise,jdbcType=DECIMAL},
      </if>
      <if test="ntotalinvoicenum != null" >
        NTOTALINVOICENUM = #{ntotalinvoicenum,jdbcType=DECIMAL},
      </if>
      <if test="ntotalinnum != null" >
        NTOTALINNUM = #{ntotalinnum,jdbcType=DECIMAL},
      </if>
      <if test="nexchangerate != null" >
        NEXCHANGERATE = #{nexchangerate,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fgc.pojo.OrderHVO" >
    update SO_ORDER_H
    set PK_GROUP = #{pkGroup,jdbcType=VARCHAR},
      PK_ORG = #{pkOrg,jdbcType=VARCHAR},
      VBILLTYPE = #{vbilltype,jdbcType=VARCHAR},
      CBILLTYPE = #{cbilltype,jdbcType=VARCHAR},
      VBILLCODE = #{vbillcode,jdbcType=VARCHAR},
      DBILLDATE = #{dbilldate,jdbcType=VARCHAR},
      CUSTOMER = #{customer,jdbcType=VARCHAR},
      CURRENCY = #{currency,jdbcType=VARCHAR},
      SALESMAN = #{salesman,jdbcType=VARCHAR},
      CDEPT = #{cdept,jdbcType=VARCHAR},
      NTOTALNUM = #{ntotalnum,jdbcType=DECIMAL},
      NORIGTAXMNY = #{norigtaxmny,jdbcType=DECIMAL},
      NRECEIVEDMNY = #{nreceivedmny,jdbcType=DECIMAL},
      VBILLSTATUS = #{vbillstatus,jdbcType=DECIMAL},
      CLIENT = #{client,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      CBALATYPE = #{cbalatype,jdbcType=VARCHAR},
      VDEF1 = #{vdef1,jdbcType=VARCHAR},
      VDEF2 = #{vdef2,jdbcType=VARCHAR},
      VDEF3 = #{vdef3,jdbcType=VARCHAR},
      VDEF4 = #{vdef4,jdbcType=VARCHAR},
      VDEF5 = #{vdef5,jdbcType=VARCHAR},
      VSRCID = #{vsrcid,jdbcType=VARCHAR},
      VDEF6 = #{vdef6,jdbcType=VARCHAR},
      VDEF7 = #{vdef7,jdbcType=VARCHAR},
      VSRCCODE = #{vsrccode,jdbcType=VARCHAR},
      VDEF8 = #{vdef8,jdbcType=VARCHAR},
      VDEF9 = #{vdef9,jdbcType=VARCHAR},
      VDEF10 = #{vdef10,jdbcType=VARCHAR},
      BILLMAKER = #{billmaker,jdbcType=VARCHAR},
      BILLMAKETIME = #{billmaketime,jdbcType=VARCHAR},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      MODIFIEDTIME = #{modifiedtime,jdbcType=VARCHAR},
      APPROVER = #{approver,jdbcType=VARCHAR},
      APPROVETIME = #{approvetime,jdbcType=VARCHAR},
      ISSYNC = #{issync,jdbcType=DECIMAL},
      EFFECTBILLCODE = #{effectbillcode,jdbcType=VARCHAR},
      REVISER = #{reviser,jdbcType=VARCHAR},
      REVISETIME = #{revisetime,jdbcType=VARCHAR},
      RETURNSALE = #{returnsale,jdbcType=DECIMAL},
      TS = #{ts,jdbcType=VARCHAR},
      DR = #{dr,jdbcType=DECIMAL},
      NTOTALINVOICEMNY = #{ntotalinvoicemny,jdbcType=DECIMAL},
      ALREADYINVOICE = #{alreadyinvoice,jdbcType=DECIMAL},
      ALREADYIN = #{alreadyin,jdbcType=DECIMAL},
      ALREADYREVISE = #{alreadyrevise,jdbcType=DECIMAL},
      NTOTALINVOICENUM = #{ntotalinvoicenum,jdbcType=DECIMAL},
      NTOTALINNUM = #{ntotalinnum,jdbcType=DECIMAL},
      NEXCHANGERATE = #{nexchangerate,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
   <update id="deleteByPrimaryKeys" parameterType="java.util.List" >
    update SO_ORDER_H set DR = 1
    where ID in 
     <foreach item="item" collection="ids" separator="," open="(" close=")" index="">    
          #{item, jdbcType=VARCHAR}    
        </foreach>  
  </update>
   <update id="blackOutByPrimaryKeys" parameterType="java.util.List" >
    update SO_ORDER_H set vbillstatus = 2
    where ID in 
     <foreach item="item" collection="ids" separator="," open="(" close=")" index="">    
          #{item, jdbcType=VARCHAR}    
        </foreach>  
  </update>
</mapper>