<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fgc.mapper.UploadBillLogsVOMapper" >
  <resultMap id="BaseResultMap" type="com.fgc.pojo.UploadBillLogsVO" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="EXECUTETIME" property="executetime" jdbcType="CHAR" />
    <result column="VDEF1" property="vdef1" jdbcType="VARCHAR" />
    <result column="NOTESVBILLCODE" property="notesvbillcode" jdbcType="VARCHAR" />
    <result column="VDEF2" property="vdef2" jdbcType="VARCHAR" />
    <result column="UPLOADTIME" property="uploadtime" jdbcType="CHAR" />
    <result column="ISSUCCESS" property="issuccess" jdbcType="CHAR" />
    <result column="VDEF3" property="vdef3" jdbcType="VARCHAR" />
    <result column="VDEF4" property="vdef4" jdbcType="VARCHAR" />
    <result column="RESULT" property="result" jdbcType="VARCHAR" />
    <result column="VDEF5" property="vdef5" jdbcType="VARCHAR" />
    <result column="VDEF6" property="vdef6" jdbcType="VARCHAR" />
    <result column="VDEF7" property="vdef7" jdbcType="VARCHAR" />
    <result column="VDEF8" property="vdef8" jdbcType="VARCHAR" />
    <result column="VDEF9" property="vdef9" jdbcType="VARCHAR" />
    <result column="VDEF10" property="vdef10" jdbcType="VARCHAR" />
    <result column="UPLOADBILL" property="uploadbill" jdbcType="VARCHAR" />
    <result column="UPLOADMODE" property="uploadmode" jdbcType="DECIMAL" />
    <result column="UPLOADCOUNT" property="uploadcount" jdbcType="DECIMAL" />
    <result column="LASTUPLOADTIME" property="lastuploadtime" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, EXECUTETIME, VDEF1, NOTESVBILLCODE, VDEF2, UPLOADTIME, ISSUCCESS, VDEF3, VDEF4, 
    RESULT, VDEF5, VDEF6, VDEF7, VDEF8, VDEF9, VDEF10, UPLOADBILL, UPLOADMODE, UPLOADCOUNT, 
    LASTUPLOADTIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fgc.pojo.UploadBillLogsVOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from UPLOAD_BILL_LOGS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from UPLOAD_BILL_LOGS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from UPLOAD_BILL_LOGS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fgc.pojo.UploadBillLogsVOExample" >
    delete from UPLOAD_BILL_LOGS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fgc.pojo.UploadBillLogsVO" >
    insert into UPLOAD_BILL_LOGS (ID, EXECUTETIME, VDEF1, 
      NOTESVBILLCODE, VDEF2, UPLOADTIME, 
      ISSUCCESS, VDEF3, VDEF4, 
      RESULT, VDEF5, VDEF6, 
      VDEF7, VDEF8, VDEF9, 
      VDEF10, UPLOADBILL, UPLOADMODE, 
      UPLOADCOUNT, LASTUPLOADTIME)
    values (#{id,jdbcType=VARCHAR}, #{executetime,jdbcType=CHAR}, #{vdef1,jdbcType=VARCHAR}, 
      #{notesvbillcode,jdbcType=VARCHAR}, #{vdef2,jdbcType=VARCHAR}, #{uploadtime,jdbcType=CHAR}, 
      #{issuccess,jdbcType=CHAR}, #{vdef3,jdbcType=VARCHAR}, #{vdef4,jdbcType=VARCHAR}, 
      #{result,jdbcType=VARCHAR}, #{vdef5,jdbcType=VARCHAR}, #{vdef6,jdbcType=VARCHAR}, 
      #{vdef7,jdbcType=VARCHAR}, #{vdef8,jdbcType=VARCHAR}, #{vdef9,jdbcType=VARCHAR}, 
      #{vdef10,jdbcType=VARCHAR}, #{uploadbill,jdbcType=VARCHAR}, #{uploadmode,jdbcType=DECIMAL}, 
      #{uploadcount,jdbcType=DECIMAL}, #{lastuploadtime,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fgc.pojo.UploadBillLogsVO" >
    insert into UPLOAD_BILL_LOGS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="executetime != null" >
        EXECUTETIME,
      </if>
      <if test="vdef1 != null" >
        VDEF1,
      </if>
      <if test="notesvbillcode != null" >
        NOTESVBILLCODE,
      </if>
      <if test="vdef2 != null" >
        VDEF2,
      </if>
      <if test="uploadtime != null" >
        UPLOADTIME,
      </if>
      <if test="issuccess != null" >
        ISSUCCESS,
      </if>
      <if test="vdef3 != null" >
        VDEF3,
      </if>
      <if test="vdef4 != null" >
        VDEF4,
      </if>
      <if test="result != null" >
        RESULT,
      </if>
      <if test="vdef5 != null" >
        VDEF5,
      </if>
      <if test="vdef6 != null" >
        VDEF6,
      </if>
      <if test="vdef7 != null" >
        VDEF7,
      </if>
      <if test="vdef8 != null" >
        VDEF8,
      </if>
      <if test="vdef9 != null" >
        VDEF9,
      </if>
      <if test="vdef10 != null" >
        VDEF10,
      </if>
      <if test="uploadbill != null" >
        UPLOADBILL,
      </if>
      <if test="uploadmode != null" >
        UPLOADMODE,
      </if>
      <if test="uploadcount != null" >
        UPLOADCOUNT,
      </if>
      <if test="lastuploadtime != null" >
        LASTUPLOADTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="executetime != null" >
        #{executetime,jdbcType=CHAR},
      </if>
      <if test="vdef1 != null" >
        #{vdef1,jdbcType=VARCHAR},
      </if>
      <if test="notesvbillcode != null" >
        #{notesvbillcode,jdbcType=VARCHAR},
      </if>
      <if test="vdef2 != null" >
        #{vdef2,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=CHAR},
      </if>
      <if test="issuccess != null" >
        #{issuccess,jdbcType=CHAR},
      </if>
      <if test="vdef3 != null" >
        #{vdef3,jdbcType=VARCHAR},
      </if>
      <if test="vdef4 != null" >
        #{vdef4,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="vdef5 != null" >
        #{vdef5,jdbcType=VARCHAR},
      </if>
      <if test="vdef6 != null" >
        #{vdef6,jdbcType=VARCHAR},
      </if>
      <if test="vdef7 != null" >
        #{vdef7,jdbcType=VARCHAR},
      </if>
      <if test="vdef8 != null" >
        #{vdef8,jdbcType=VARCHAR},
      </if>
      <if test="vdef9 != null" >
        #{vdef9,jdbcType=VARCHAR},
      </if>
      <if test="vdef10 != null" >
        #{vdef10,jdbcType=VARCHAR},
      </if>
      <if test="uploadbill != null" >
        #{uploadbill,jdbcType=VARCHAR},
      </if>
      <if test="uploadmode != null" >
        #{uploadmode,jdbcType=DECIMAL},
      </if>
      <if test="uploadcount != null" >
        #{uploadcount,jdbcType=DECIMAL},
      </if>
      <if test="lastuploadtime != null" >
        #{lastuploadtime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fgc.pojo.UploadBillLogsVOExample" resultType="java.lang.Integer" >
    select count(*) from UPLOAD_BILL_LOGS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update UPLOAD_BILL_LOGS
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.executetime != null" >
        EXECUTETIME = #{record.executetime,jdbcType=CHAR},
      </if>
      <if test="record.vdef1 != null" >
        VDEF1 = #{record.vdef1,jdbcType=VARCHAR},
      </if>
      <if test="record.notesvbillcode != null" >
        NOTESVBILLCODE = #{record.notesvbillcode,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef2 != null" >
        VDEF2 = #{record.vdef2,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadtime != null" >
        UPLOADTIME = #{record.uploadtime,jdbcType=CHAR},
      </if>
      <if test="record.issuccess != null" >
        ISSUCCESS = #{record.issuccess,jdbcType=CHAR},
      </if>
      <if test="record.vdef3 != null" >
        VDEF3 = #{record.vdef3,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef4 != null" >
        VDEF4 = #{record.vdef4,jdbcType=VARCHAR},
      </if>
      <if test="record.result != null" >
        RESULT = #{record.result,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef5 != null" >
        VDEF5 = #{record.vdef5,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef6 != null" >
        VDEF6 = #{record.vdef6,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef7 != null" >
        VDEF7 = #{record.vdef7,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef8 != null" >
        VDEF8 = #{record.vdef8,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef9 != null" >
        VDEF9 = #{record.vdef9,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef10 != null" >
        VDEF10 = #{record.vdef10,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadbill != null" >
        UPLOADBILL = #{record.uploadbill,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadmode != null" >
        UPLOADMODE = #{record.uploadmode,jdbcType=DECIMAL},
      </if>
      <if test="record.uploadcount != null" >
        UPLOADCOUNT = #{record.uploadcount,jdbcType=DECIMAL},
      </if>
      <if test="record.lastuploadtime != null" >
        LASTUPLOADTIME = #{record.lastuploadtime,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update UPLOAD_BILL_LOGS
    set ID = #{record.id,jdbcType=VARCHAR},
      EXECUTETIME = #{record.executetime,jdbcType=CHAR},
      VDEF1 = #{record.vdef1,jdbcType=VARCHAR},
      NOTESVBILLCODE = #{record.notesvbillcode,jdbcType=VARCHAR},
      VDEF2 = #{record.vdef2,jdbcType=VARCHAR},
      UPLOADTIME = #{record.uploadtime,jdbcType=CHAR},
      ISSUCCESS = #{record.issuccess,jdbcType=CHAR},
      VDEF3 = #{record.vdef3,jdbcType=VARCHAR},
      VDEF4 = #{record.vdef4,jdbcType=VARCHAR},
      RESULT = #{record.result,jdbcType=VARCHAR},
      VDEF5 = #{record.vdef5,jdbcType=VARCHAR},
      VDEF6 = #{record.vdef6,jdbcType=VARCHAR},
      VDEF7 = #{record.vdef7,jdbcType=VARCHAR},
      VDEF8 = #{record.vdef8,jdbcType=VARCHAR},
      VDEF9 = #{record.vdef9,jdbcType=VARCHAR},
      VDEF10 = #{record.vdef10,jdbcType=VARCHAR},
      UPLOADBILL = #{record.uploadbill,jdbcType=VARCHAR},
      UPLOADMODE = #{record.uploadmode,jdbcType=DECIMAL},
      UPLOADCOUNT = #{record.uploadcount,jdbcType=DECIMAL},
      LASTUPLOADTIME = #{record.lastuploadtime,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fgc.pojo.UploadBillLogsVO" >
    update UPLOAD_BILL_LOGS
    <set >
      <if test="executetime != null" >
        EXECUTETIME = #{executetime,jdbcType=CHAR},
      </if>
      <if test="vdef1 != null" >
        VDEF1 = #{vdef1,jdbcType=VARCHAR},
      </if>
      <if test="notesvbillcode != null" >
        NOTESVBILLCODE = #{notesvbillcode,jdbcType=VARCHAR},
      </if>
      <if test="vdef2 != null" >
        VDEF2 = #{vdef2,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        UPLOADTIME = #{uploadtime,jdbcType=CHAR},
      </if>
      <if test="issuccess != null" >
        ISSUCCESS = #{issuccess,jdbcType=CHAR},
      </if>
      <if test="vdef3 != null" >
        VDEF3 = #{vdef3,jdbcType=VARCHAR},
      </if>
      <if test="vdef4 != null" >
        VDEF4 = #{vdef4,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        RESULT = #{result,jdbcType=VARCHAR},
      </if>
      <if test="vdef5 != null" >
        VDEF5 = #{vdef5,jdbcType=VARCHAR},
      </if>
      <if test="vdef6 != null" >
        VDEF6 = #{vdef6,jdbcType=VARCHAR},
      </if>
      <if test="vdef7 != null" >
        VDEF7 = #{vdef7,jdbcType=VARCHAR},
      </if>
      <if test="vdef8 != null" >
        VDEF8 = #{vdef8,jdbcType=VARCHAR},
      </if>
      <if test="vdef9 != null" >
        VDEF9 = #{vdef9,jdbcType=VARCHAR},
      </if>
      <if test="vdef10 != null" >
        VDEF10 = #{vdef10,jdbcType=VARCHAR},
      </if>
      <if test="uploadbill != null" >
        UPLOADBILL = #{uploadbill,jdbcType=VARCHAR},
      </if>
      <if test="uploadmode != null" >
        UPLOADMODE = #{uploadmode,jdbcType=DECIMAL},
      </if>
      <if test="uploadcount != null" >
        UPLOADCOUNT = #{uploadcount,jdbcType=DECIMAL},
      </if>
      <if test="lastuploadtime != null" >
        LASTUPLOADTIME = #{lastuploadtime,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fgc.pojo.UploadBillLogsVO" >
    update UPLOAD_BILL_LOGS
    set EXECUTETIME = #{executetime,jdbcType=CHAR},
      VDEF1 = #{vdef1,jdbcType=VARCHAR},
      NOTESVBILLCODE = #{notesvbillcode,jdbcType=VARCHAR},
      VDEF2 = #{vdef2,jdbcType=VARCHAR},
      UPLOADTIME = #{uploadtime,jdbcType=CHAR},
      ISSUCCESS = #{issuccess,jdbcType=CHAR},
      VDEF3 = #{vdef3,jdbcType=VARCHAR},
      VDEF4 = #{vdef4,jdbcType=VARCHAR},
      RESULT = #{result,jdbcType=VARCHAR},
      VDEF5 = #{vdef5,jdbcType=VARCHAR},
      VDEF6 = #{vdef6,jdbcType=VARCHAR},
      VDEF7 = #{vdef7,jdbcType=VARCHAR},
      VDEF8 = #{vdef8,jdbcType=VARCHAR},
      VDEF9 = #{vdef9,jdbcType=VARCHAR},
      VDEF10 = #{vdef10,jdbcType=VARCHAR},
      UPLOADBILL = #{uploadbill,jdbcType=VARCHAR},
      UPLOADMODE = #{uploadmode,jdbcType=DECIMAL},
      UPLOADCOUNT = #{uploadcount,jdbcType=DECIMAL},
      LASTUPLOADTIME = #{lastuploadtime,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>