<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fgc.mapper.UploadnotespkVOMapper" >
  <resultMap id="BaseResultMap" type="com.fgc.pojo.UploadnotespkVO" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="VDEF1" property="vdef1" jdbcType="VARCHAR" />
    <result column="TABLENAME" property="tablename" jdbcType="VARCHAR" />
    <result column="VDEF2" property="vdef2" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updatetime" jdbcType="CHAR" />
    <result column="NOTESPK1" property="notespk1" jdbcType="VARCHAR" />
    <result column="VDEF3" property="vdef3" jdbcType="VARCHAR" />
    <result column="VDEF4" property="vdef4" jdbcType="VARCHAR" />
    <result column="NOTESPK2" property="notespk2" jdbcType="VARCHAR" />
    <result column="VDEF5" property="vdef5" jdbcType="VARCHAR" />
    <result column="NOTESPK3" property="notespk3" jdbcType="VARCHAR" />
    <result column="VDEF6" property="vdef6" jdbcType="VARCHAR" />
    <result column="VDEF7" property="vdef7" jdbcType="VARCHAR" />
    <result column="VDEF8" property="vdef8" jdbcType="VARCHAR" />
    <result column="VDEF9" property="vdef9" jdbcType="VARCHAR" />
    <result column="VDEF10" property="vdef10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, VDEF1, TABLENAME, VDEF2, UPDATETIME, NOTESPK1, VDEF3, VDEF4, NOTESPK2, VDEF5, 
    NOTESPK3, VDEF6, VDEF7, VDEF8, VDEF9, VDEF10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fgc.pojo.UploadnotespkVOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from UPLOAD_NOTESPK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from UPLOAD_NOTESPK
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from UPLOAD_NOTESPK
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fgc.pojo.UploadnotespkVOExample" >
    delete from UPLOAD_NOTESPK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fgc.pojo.UploadnotespkVO" >
    insert into UPLOAD_NOTESPK (ID, VDEF1, TABLENAME, 
      VDEF2, UPDATETIME, NOTESPK1, 
      VDEF3, VDEF4, NOTESPK2, 
      VDEF5, NOTESPK3, VDEF6, 
      VDEF7, VDEF8, VDEF9, 
      VDEF10)
    values (#{id,jdbcType=VARCHAR}, #{vdef1,jdbcType=VARCHAR}, #{tablename,jdbcType=VARCHAR}, 
      #{vdef2,jdbcType=VARCHAR}, #{updatetime,jdbcType=CHAR}, #{notespk1,jdbcType=VARCHAR}, 
      #{vdef3,jdbcType=VARCHAR}, #{vdef4,jdbcType=VARCHAR}, #{notespk2,jdbcType=VARCHAR}, 
      #{vdef5,jdbcType=VARCHAR}, #{notespk3,jdbcType=VARCHAR}, #{vdef6,jdbcType=VARCHAR}, 
      #{vdef7,jdbcType=VARCHAR}, #{vdef8,jdbcType=VARCHAR}, #{vdef9,jdbcType=VARCHAR}, 
      #{vdef10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fgc.pojo.UploadnotespkVO" >
    insert into UPLOAD_NOTESPK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="vdef1 != null" >
        VDEF1,
      </if>
      <if test="tablename != null" >
        TABLENAME,
      </if>
      <if test="vdef2 != null" >
        VDEF2,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
      <if test="notespk1 != null" >
        NOTESPK1,
      </if>
      <if test="vdef3 != null" >
        VDEF3,
      </if>
      <if test="vdef4 != null" >
        VDEF4,
      </if>
      <if test="notespk2 != null" >
        NOTESPK2,
      </if>
      <if test="vdef5 != null" >
        VDEF5,
      </if>
      <if test="notespk3 != null" >
        NOTESPK3,
      </if>
      <if test="vdef6 != null" >
        VDEF6,
      </if>
      <if test="vdef7 != null" >
        VDEF7,
      </if>
      <if test="vdef8 != null" >
        VDEF8,
      </if>
      <if test="vdef9 != null" >
        VDEF9,
      </if>
      <if test="vdef10 != null" >
        VDEF10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="vdef1 != null" >
        #{vdef1,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="vdef2 != null" >
        #{vdef2,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=CHAR},
      </if>
      <if test="notespk1 != null" >
        #{notespk1,jdbcType=VARCHAR},
      </if>
      <if test="vdef3 != null" >
        #{vdef3,jdbcType=VARCHAR},
      </if>
      <if test="vdef4 != null" >
        #{vdef4,jdbcType=VARCHAR},
      </if>
      <if test="notespk2 != null" >
        #{notespk2,jdbcType=VARCHAR},
      </if>
      <if test="vdef5 != null" >
        #{vdef5,jdbcType=VARCHAR},
      </if>
      <if test="notespk3 != null" >
        #{notespk3,jdbcType=VARCHAR},
      </if>
      <if test="vdef6 != null" >
        #{vdef6,jdbcType=VARCHAR},
      </if>
      <if test="vdef7 != null" >
        #{vdef7,jdbcType=VARCHAR},
      </if>
      <if test="vdef8 != null" >
        #{vdef8,jdbcType=VARCHAR},
      </if>
      <if test="vdef9 != null" >
        #{vdef9,jdbcType=VARCHAR},
      </if>
      <if test="vdef10 != null" >
        #{vdef10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fgc.pojo.UploadnotespkVOExample" resultType="java.lang.Integer" >
    select count(*) from UPLOAD_NOTESPK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update UPLOAD_NOTESPK
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef1 != null" >
        VDEF1 = #{record.vdef1,jdbcType=VARCHAR},
      </if>
      <if test="record.tablename != null" >
        TABLENAME = #{record.tablename,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef2 != null" >
        VDEF2 = #{record.vdef2,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        UPDATETIME = #{record.updatetime,jdbcType=CHAR},
      </if>
      <if test="record.notespk1 != null" >
        NOTESPK1 = #{record.notespk1,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef3 != null" >
        VDEF3 = #{record.vdef3,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef4 != null" >
        VDEF4 = #{record.vdef4,jdbcType=VARCHAR},
      </if>
      <if test="record.notespk2 != null" >
        NOTESPK2 = #{record.notespk2,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef5 != null" >
        VDEF5 = #{record.vdef5,jdbcType=VARCHAR},
      </if>
      <if test="record.notespk3 != null" >
        NOTESPK3 = #{record.notespk3,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef6 != null" >
        VDEF6 = #{record.vdef6,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef7 != null" >
        VDEF7 = #{record.vdef7,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef8 != null" >
        VDEF8 = #{record.vdef8,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef9 != null" >
        VDEF9 = #{record.vdef9,jdbcType=VARCHAR},
      </if>
      <if test="record.vdef10 != null" >
        VDEF10 = #{record.vdef10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update UPLOAD_NOTESPK
    set ID = #{record.id,jdbcType=VARCHAR},
      VDEF1 = #{record.vdef1,jdbcType=VARCHAR},
      TABLENAME = #{record.tablename,jdbcType=VARCHAR},
      VDEF2 = #{record.vdef2,jdbcType=VARCHAR},
      UPDATETIME = #{record.updatetime,jdbcType=CHAR},
      NOTESPK1 = #{record.notespk1,jdbcType=VARCHAR},
      VDEF3 = #{record.vdef3,jdbcType=VARCHAR},
      VDEF4 = #{record.vdef4,jdbcType=VARCHAR},
      NOTESPK2 = #{record.notespk2,jdbcType=VARCHAR},
      VDEF5 = #{record.vdef5,jdbcType=VARCHAR},
      NOTESPK3 = #{record.notespk3,jdbcType=VARCHAR},
      VDEF6 = #{record.vdef6,jdbcType=VARCHAR},
      VDEF7 = #{record.vdef7,jdbcType=VARCHAR},
      VDEF8 = #{record.vdef8,jdbcType=VARCHAR},
      VDEF9 = #{record.vdef9,jdbcType=VARCHAR},
      VDEF10 = #{record.vdef10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fgc.pojo.UploadnotespkVO" >
    update UPLOAD_NOTESPK
    <set >
      <if test="vdef1 != null" >
        VDEF1 = #{vdef1,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        TABLENAME = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="vdef2 != null" >
        VDEF2 = #{vdef2,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=CHAR},
      </if>
      <if test="notespk1 != null" >
        NOTESPK1 = #{notespk1,jdbcType=VARCHAR},
      </if>
      <if test="vdef3 != null" >
        VDEF3 = #{vdef3,jdbcType=VARCHAR},
      </if>
      <if test="vdef4 != null" >
        VDEF4 = #{vdef4,jdbcType=VARCHAR},
      </if>
      <if test="notespk2 != null" >
        NOTESPK2 = #{notespk2,jdbcType=VARCHAR},
      </if>
      <if test="vdef5 != null" >
        VDEF5 = #{vdef5,jdbcType=VARCHAR},
      </if>
      <if test="notespk3 != null" >
        NOTESPK3 = #{notespk3,jdbcType=VARCHAR},
      </if>
      <if test="vdef6 != null" >
        VDEF6 = #{vdef6,jdbcType=VARCHAR},
      </if>
      <if test="vdef7 != null" >
        VDEF7 = #{vdef7,jdbcType=VARCHAR},
      </if>
      <if test="vdef8 != null" >
        VDEF8 = #{vdef8,jdbcType=VARCHAR},
      </if>
      <if test="vdef9 != null" >
        VDEF9 = #{vdef9,jdbcType=VARCHAR},
      </if>
      <if test="vdef10 != null" >
        VDEF10 = #{vdef10,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fgc.pojo.UploadnotespkVO" >
    update UPLOAD_NOTESPK
    set VDEF1 = #{vdef1,jdbcType=VARCHAR},
      TABLENAME = #{tablename,jdbcType=VARCHAR},
      VDEF2 = #{vdef2,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=CHAR},
      NOTESPK1 = #{notespk1,jdbcType=VARCHAR},
      VDEF3 = #{vdef3,jdbcType=VARCHAR},
      VDEF4 = #{vdef4,jdbcType=VARCHAR},
      NOTESPK2 = #{notespk2,jdbcType=VARCHAR},
      VDEF5 = #{vdef5,jdbcType=VARCHAR},
      NOTESPK3 = #{notespk3,jdbcType=VARCHAR},
      VDEF6 = #{vdef6,jdbcType=VARCHAR},
      VDEF7 = #{vdef7,jdbcType=VARCHAR},
      VDEF8 = #{vdef8,jdbcType=VARCHAR},
      VDEF9 = #{vdef9,jdbcType=VARCHAR},
      VDEF10 = #{vdef10,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>