.search {background: url('images/extjs_icons/search.png') no-repeat center center;}
.page_save {background: url('images/extjs_icons/page/page_save.png') no-repeat center center;}
.data_refresh {background: url('images/extjs_icons/arrow/arrow_refresh.png') no-repeat center center;}
